<h2>Horses</h2>

<% @horses.each do |horse| %>
 <div class="order">
 <b><a href="/horses/<%=horse.id%>"><%= horse.name()%></a></b>
 <div class = "thumbnail_sizer"><a href="/horses/<%= horse.id%>"><img class = "thumbnail" src="<%=horse.img%>"></a></div>
 <hr>
 </div>
<%end%>