<h2>Add a new Event!</h2>

<form action="/events" method="post">
 <label for="name">Horse name:</label>
 <input type="text" name="name" placeholder="Enter name.">

<label for="img">Image:</label>
<input type="text" name="img" placeholder="Enter url">

<input type='submit' value="Add Event">
</form>
