<p><%=@horse.name%></p>
<div class = "flag_sizer"><img class = "thumbnail" src="<%=@horse.img%>"></div>


<hr>

<a href="/horses/<%=@horse.id%>/edit">Edit Horse</a>

<form action="/horses/<%=@horse.id%>/delete" method="post">
<hr>
<input type="submit" value="Delete Horse">
</form>