<!DOCTYPE html>
<html>
<head>
  <title>Tournament</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='https://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
  <body>
    <div class="navbar">
      <div class="dropdown">
        <a href="/rankings"><button class="dropbtn">Rankings</button></a>
        <div class="dropdown-content">
          <a href="/rankings/kingdoms">Kingdoms</a>
          <a href="/rankings/knights">Knights</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="/kingdoms"><button class="dropbtn">Kingdoms</button></a>
        <div class="dropdown-content">
          <a href="/kingdoms/new">New Kingdom</a>
          <a href="/kingdoms/knights">View Kingdoms Knights</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="/knights"><button class="dropbtn">Knights</button></a>
        <div class="dropdown-content">
          <a href="/knights/new">New Knight</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="/events"><button class="dropbtn">Events</button></a>
        <div class="dropdown-content">
          <a href="/events/new">New Event</a>
          <a href="/stage">Stage Event</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="/horses"><button class="dropbtn">Horses</button></a>
        <div class="dropdown-content">
          <a href="/horses/new">New Horse</a>
        </div>
      </div>
    </div>
    <div class= 'spacer'>
    </div>
    <div class = 'leftbar'>
        <div class = "icons">
          <img class = "bthumbnail" src="/event/joust.png"> 
          <img class = "bthumbnail" src="/event/sword.png"> 
          <img class = "bthumbnail" src="/event/staff.png"> 
          <img class = "bthumbnail" src="/event/wrestle.png"> 
          <img class = "bthumbnail" src="/event/archery.png"> 
          <img class = "bthumbnail" src="/event/crossbow.png"> 
        </div>
    </div>

    <div class = "content">
      <%=yield%>
    </div>
    <div class = 'rightbar'>
        <div class = "icons">
          <img class = "bthumbnail" src="/event/horseshoe.png"> 
          <img class = "bthumbnail" src="/event/colf.png"> 
          <img class = "bthumbnail" src="/event/bowls.png"> 
          <img class = "bthumbnail" src="/event/hammer.png"> 
          <img class = "bthumbnail" src="/event/archery.png"> 
          <img class = "bthumbnail" src="/event/team.png"> 
          </div>
    </div>
      </body>
      </html>