body {
  height:100%;
  font-family: 'Metamorphous', cursive;
  text-align: center; 
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/f7/c4/30/f7c43039796b5f26e21cb748c7fd483a.jpg');
}
.banner{
  margin: auto;
  width: 50%;
  margin-bottom: -20px;
}
.navbar {
  width: 100%;
  height: 90px;
  margin-top: -20px;
  margin-left: -10px;
  padding-top: 10px;
  background-image: url('http://www.hinesofoxford.com/media/catalog/category/Copy_of_938_Bayeux_-_Battle_of_Hastings_1.jpg');
  background-size: contain;
  position:fixed;
  box-shadow: 5px 5px 15px black;
}

/*general container for pages*/
.content {
  clear:both;
  /*background-color: #55967e;*/
  background-color: #014556;
  min-height:800px;
  display: inline-block;
  width:75%;
  padding:90px;
  margin: auto;
}
.shield {
  /*border: 2px solid black;*/
  /*background-image: url('/shield.png');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
}
.sidebar{
  min-height:800px;
  width: 22%;
  float: right;
  background-color: #55967e;
  border: 3px solid black;
}

/*image sizer*/
.thumbnail_sizer{
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.flag_sizer{
  width: 200px;
  height: 120px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.portrait_sizer{
  width: 200px;
  height: 300px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.mini_portrait{
  width: 100px;
  height: 150px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.mini_landscape{
  width: 150px;
  height: 100px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.miniknight {
  width: 25%;
  border: 2px solid black;
  overflow: hidden;
  margin: auto;
  display: inline-block;
  align-items: center; 
  background-color: white;
}

.thumbnail {
  width: 100%;
}
.order {
  /*background-color: #541101;*/
  background-color: grey;
  /*border: 2px solid black;*/
  margin-bottom: 5px;
}

/*MENU STUFF*/
/* Dropdown Button */
.dropbtn {
    background-color: #6d819c;
    border: 2px solid black;
    width:150px;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    font-family: 'Metamorphous', cursive;
    box-shadow: 3px 3px 5px black;
}

.dropdown .dropbtn a {
  text-decoration: none;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    padding-top: 5px;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e4e7ec;
    color: black;
}