body {
  height:100%;
  font-family: 'Metamorphous', cursive;
  text-align: center; 
  /*background-image: url('/wood.png');*/
  background-image: url('http://randomwallpapers.net/green-hills-nature-1920x1080-wallpaper9156.jpg');
  background-size:cover;
  background-color: #000000;
  background-attachment: fixed;
}
.banner{
  margin: auto;
  width: 50%;
  margin-bottom: -20px;
}

a {
  text-decoration: none;
  color: black;
}

form input[type=radio]{
  display: none;
}

.welcome {
  margin-top: 10px;
  width:68%;
  border-radius: 100%;
  box-shadow: 2px 2px 5px black;
}

.navbar {
  width: 70%;
  min-width: 800px;
  height: 70px;
  margin-top: -2%;
  margin-left: 14.5%;
  margin-right: 14.5%;
  padding-top: 30px;
  background-image: url('http://www.hinesofoxford.com/media/catalog/category/Copy_of_938_Bayeux_-_Battle_of_Hastings_1.jpg');
  background-size: contain;
  position:fixed;
  box-shadow: 5px 5px 25px black;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius:100%;

}

.spacer {
  height:100px;
}

/*general container for pages*/
.content {
  clear:both;
  /*background-color: #7d6137;*/
  /*background-color: #e9d1bb;*/
  background-image: url('/opacity.png');
  display: inline-block;
  width:60%;
  padding:5px;
  margin: auto;
  box-shadow: 5px 5px 30px black;
  border-radius: 10px;
}

.leftbar{ 
  width:15%;
  float:left;
  align-items: center;
  min-height: 590px;
  background-image: url('banner_red.png');
  background-position: center;
 background-size: contain;
 background-repeat: no-repeat;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.rightbar{
  width:15%;
  float:right;
  min-height: 590px;
  background-image: url('banner_blue.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.icons {
  width: 50%;
  height: 20%;
  padding-top: 50px;
  margin:auto;
}
/*.shield {
  /*border: 2px solid black;*/
  /*background-image: url('/shield.png');*/
/*  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;*/
  width: 100%;
}*/
.sidebar{
  min-height:800px;
  width: 22%;
  float: right;
  background-color: #55967e;
  border: 3px solid black;
}

/*image sizer*/
.thumbnail_sizer{
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arms_thumbnail_sizer{
  width: 200px;
  height: 250px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag_sizer{
  width: 200px;
  max-height: 120px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.flag_mini_sizer{
  width: 100px;
  max-height: 60px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.horse_sizer{
  width: 400px;
  max-height: 240px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.portrait_sizer{
  width: 200px;
  max-height: 300px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.trophy_sizer{
  width: 50px;
  height: 100px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 2px double black;
  box-shadow: 2px 2px 3px;*/
}

.trophy_mini_sizer{
  width: 25px;
  height: 50px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 2px double black;
  box-shadow: 2px 2px 3px;*/
}

.mini_trophy {
  width: 7%;
  min-height: 50px;
  border: 2px dashed #7d6137;
  overflow: hidden;
  margin: auto;
  display: inline-block;
  align-items: center; 
}

.trophy {
  width: 20%;
  min-height: 50px;
  border: 2px dashed #7d6137;
  overflow: hidden;
  margin: auto;
  display: inline-block;
  align-items: center; 
}


.mini_portrait{
  width: 100px;
  max-height: 150px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.mini_landscape{
  width: 150px;
  max-height: 100px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px double black;
  box-shadow: 2px 2px 3px;
}

.miniknight {
  width: 32%;
  min-height: 270px;
  border: 2px dashed #7d6137;
  overflow: hidden;
  margin: auto;
  display: inline-block;
  align-items: center; 
}

.thumbnail {
  width: 100%;
}
.bthumbnail{
  width: 70%;
  -webkit-filter: drop-shadow(1px 1px 3px #222);
  filter: drop-shadow(1px 1px 3px #222);
}

.order {
  margin-bottom: 5px;
}

.rankings{
  width: 49%;
  min-height:470px;
  border: 2px dashed #7d6137;
  overflow: hidden;
  margin: auto;
  display: inline-block;
  align-items: center; 
}

/*MENU STUFF*/
/* Dropdown Button */
.dropbtn {
    background-image: url('/paper.png');
    background-size: cover;
    background-color: #6d819c;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /*border: 2px solid black;*/
    width:150px;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    font-family: 'Metamorphous', cursive;
    box-shadow: 5px 5px 15px black;
}

.dropdown .dropbtn a {
  text-decoration: none;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    padding-top: 5px;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e4e7ec;
    color: black;
}