<h1>Thank you!</h1>
<p><%= @knight.name%> of the <%=Kingdom.find(@knight.nation_id).name%>added to the list</p>

<div class = "thumbnail_sizer"><img class = "thumbnail" src="<%=@knight.img%>"></div>

