<h2>Add a new Knight!</h2>

<form action="/knights" method="post">
 <label for="name">Name:</label>
 <input type="text" required id="name" placeholder="Sir...">
<hr>
 <label for="nation_id">From which kingdom does he hail?</label>
 <select name="nation_id">
  <% @kingdoms.each do |kingdom|%>
  <option value="<%= kingdom.id %>"><%= kingdom.name %></option>
  <% end %>
</select>
<hr>
<label for="wealth">Starting Wealth:</label>
<input type="text" required id="wealth" placeholder="100">
<hr>
<label for="img"> image:</label>
<input type="text" required id="img" placeholder="enter image url">
<hr>
<input type='submit' value="Add Knight">
</form>
