<h3>Add a new Kingdom!</h3>

<form action="/kingdoms" method="post">
 <label for="name">Name:</label>
 <input type="text" required id="name" placeholder="Enter name.">

<label for="flag">Kingdom Flag:</label>
<input type="text" required id="flag" placeholder="enter image url">

<label for="arms"> Coat of Arms:</label>
<input type="arms" required id="arms" placeholder="enter image url">
<input type='submit' value="Add Kingdom">
</form>
