<h2>Kingdoms</h2>


<h2>Add a new Kingdom!</h2>

<form action="/kingdoms" method="post">
 <label for="name">Name:</label>
 <input type="text" name="name" placeholder="Enter name.">

<label for="flag">Kingdom Flag:</label>
<input type="text" name="flag" placeholder="enter image url">

<label for="arms"> image:</label>
<input type="arms" name="img" placeholder="enter image url">
<input type='submit' value="Add Kingdom">
</form>
