<h1>Please select your ranking</h1>

<a href="/rankings/kingdoms"><div class="miniknight">
            <h2>View ranking by Kingdom</h2>
            <div class = "thumbnail_sizer"><img class = "thumbnail" src="/rankings/kingdom_logo.png"></div>
</div></a>
<a href="/rankings/knights"><div class="miniknight">
            <h2>View ranking by Knight</h2>
            <div class = "thumbnail_sizer"><img class = "thumbnail" src="/rankings/knight_logo.png"></div>

</div></a>
<a href="/rankings/events"><div class="miniknight">
            <h2>View results by event</h2>
            <div class = "thumbnail_sizer"><img class = "thumbnail" src="/rankings/event_logo.png"></div>

</div></a>
